# 性能测试工具 testperform
testperform/dtest/__pycache__

# 开发环境搭建 env dev
envdev/tmp/*
!envdev/tmp/README.md

# 数学研究 mathstudy
mathstudy/__pycache__
mathstudy/utils/__pycache__

# 微服务 micro server
microsrv/src/nacosconf/*
!microsrv/src/nacosconf/README.md
microsrv/src/gokratos/client/log
microsrv/src/gokratos/client/cache
microsrv/src/gokratos/server/log
microsrv/src/gokratos/server/cache
microsrv/src/gokratos/uc/log
microsrv/src/gokratos/uc/cache